html {
    margin:0;
    padding:0;
}
body {
    background: url('http://wallpoper.com/images/00/15/58/86/solid-color_00155886.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0;
    padding:0;
}
h1{

}
h2{
    color:black;
}
h3 {
    color:black;

}
h4{

}
p {

}
img {

}
span {

}
a {
color:green;
}
li {

}
th {
    color:green;
}
tr {
    color:black;
}
td {
    color:black;
}
iframe{
    border: 3px solid whitesmoke;
}
#titreVideo {
    border-bottom: 1px solid green;
    background: white;
    text-align: center;
}












